:root {
    --bgGradientGreenYellow: linear-gradient(87deg, #49D043 -0.56%, #FFB912 119.91%);
    --textGreen: #49D043;
    --textLightWhite: rgba(255, 255, 255, 0.7);
    --textBlack: rgba(0, 0, 0, 1);
    --bgLightGreen: linear-gradient(87deg, rgba(73, 208, 67, 0.03) -0.56%, rgba(255, 185, 18, 0.03) 119.91%);
    --bgMain: #090C09;
    --bgGray: #4E4E4E;

}

.text-gradient-green-yellow {
    background: var(--linear-gradient-upskill, linear-gradient(85deg, #49D043 -2.07%, #FFB912 94.33%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-white {
    color: white;
}

.text-light-white {
    color: var(--textLightWhite);
}

.text-green {
    color: var(--textGreen);
}

.text-black {
    color: var(--textBlack);
}

.b-green {
    border: 1px solid #49D043;
}

.b-light-green {
    border-radius: 8px;
    border: 5px solid #49D043;
    background: #10130A;
    box-shadow: 0px 4px 23.4px 0px rgba(255, 207, 51, 0.04);
}

.bg-gradient-green-yellow {
    background: var(--bgGradientGreenYellow);
}

a {
    text-decoration: none;
}

.section-heading {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.btn-div {
    padding: 0 0 0 12px;
}



.main-section {
    max-width: 100%;
    padding: 64px 128px;
}

@media (width<1180px) {
    .main-section {
        padding: 64px 64px;

    }
}

@media (width<980px) {
    .main-section {
        padding: 64px 32px;
    }
}

@media (width<780px) {
    .main-section {
        padding: 64px 20px;
    }

    .section-heading {
        font-size: 39px;
    }
}

@media (width<480px) {
    .section-heading {
        font-size: 30px;
    }

    .main-section {
        padding: 64px 10px;
    }
}